/* Color: #272A31, #EC5242, #D3D3D3, #FFFFFF */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 40px;
  background-color: #272a31;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  gap: 20px;
  transition: all 0.9s ease;
}

header .fa {
  color: #fff;
  cursor: pointer;
}

header .fa:hover {
  color: #ec5242;
}

header ul {
  width: 400px;
  display: flex;
  gap: 30px;
}

header ul li {
  list-style: none;
  color: #fff;
  cursor: pointer;
}

header .item:hover {
  color: #ec5242;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  background: none;
  z-index: 1000;
  transition: all 0.9s ease;
}

.logo .logo-img {
  width: 70px;
  cursor: pointer;
}

.navbar .items {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li {
  list-style: none;
}

.navbar li a {
  color: #272a31;
  text-decoration: none;
  font-size: 20px;
}

.navbar .items a:hover {
  color: #272a3198;
}

.navbar .items a:active {
  color: #ec5242;
}

#home {
  height: 75vh;
  background-image: url("./images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  margin: 120px auto;
  width: 90%;
}

.title-container .h-4 {
  font-size: 24px;
  font-weight: normal;
  line-height: 40px;
  color: #ec5242;
}

.title-container .h-1 {
  font-family: "Cocogoose", sans-serif;
  font-size: 32px;
  color: #ec5242;
  font-weight: 600;
  background-image: url(./images/backgroundPattern.png);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s ease;
}

.container-description {
  padding: 20px;
  border: 2px solid #fff;
  margin: 20px 0;
  height: auto;
}

.container-description p {
  font-size: 16px;
  color: #272a31;
  line-height: 28px;
}

.description-infos {
  height: auto;
}

.description-infos h1 {
  font-size: 1.6em;
  font-weight: 800;
  color: #272a31;
  line-height: 28px;
  transition: all 0.8s ease-in-out;
}

.description-infos p {
  color: #272a31;
  font-size: 16px;
  margin-top: 10px;
}

#about {
  background-image: url("./images/pattern.jpg");
  min-height: 110vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-items-container {
  margin: 30px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-items-container h1 {
  font-family: "cocogoose", sans-serif;
  font-size: 1.5em;
  margin: 20px 0 10px;
  color: #fff;
}

.about-items-container .main-bottom-bar {
  width: 100px;
  height: 2px;
  background: #ec5242;
}

.about-items-container .card {
  padding: 10px;
  margin: 30px 0 -20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d8d8d81f;
  backdrop-filter: blur(2px);
  border-radius: 10px;
}

.card .card-1-img {
  width: 40px;
}

.card h2 {
  color: #ec5242;
  font-size: 18px;
  margin: 0 15px 0 8px;
}

.card p {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
}

.about-items-container .joinCourse-btn {
  margin: 50px auto;
  background-color: #ec5242;
  border: none;
  padding: 20px;
  display: flex;
  align-items: center;
  height: 50px;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.9s ease;
  outline: none;
}

.flex-row-container .card:hover {
  transition: all 0.9s ease;
  border: 1px solid #fff;
}

@media (max-width: 767px) {
  header {
    display: none;
  }

  .navbar .items,
  .logo {
    display: none;
  }

  .navbar {
    height: 0;
  }

  .navbar .open-btn {
    position: fixed;
    top: 20px;
    left: 25px;
    font-size: 28px;
    color: #272a31;
  }

  .navbar .items .item .close-btn {
    color: #fff;
    position: absolute;
    top: 17px;
    left: 25px;
    display: block;
    z-index: 100;
  }

  .navbar .items {
    position: fixed;
    height: 100vh;
    width: 100%;
    right: 0;
    top: 0;
    font-size: 35px;
    padding: 100px;
    flex-direction: column;
    align-items: center;
    background-color: #272a31cb;
    transition: right 0.3s ease;
    display: none;
    z-index: 10;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  .navbar .items li a {
    color: #fff;
  }

  .navbar .items li a:active {
    color: #ec5242;
  }

  .about-items-container .btn2 {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar .fa {
    display: none;
  }

  #home {
    height: 100vh;
    background-image: url("./images/header.png");
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
  }

  #about {
    height: 60vh;
    height: auto;
  }

  .navbar .items :nth-child(8) {
    border: 5px solid #ec5242;
    padding: 10px;
  }

  .title-container {
    width: 60%;
  }

  #home .title-container h1 {
    font-size: 4rem;
  }

  #home .title-container .description-infos h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .flex-row-container {
    display: flex;
    gap: 20px;
  }

  .flex-row-container .card {
    flex-direction: column;
    height: 250px;
    justify-content: space-around;
    width: 200px;
  }

  .about-items-container .btn1 {
    display: none;
  }

  .about-items-container .joinCourse-btn {
    margin: 100px auto;
    height: 30px;
    background: none;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
  }

  .about-items-container .joinCourse-btn:active {
    color: #ec5242;
  }

  .flex-row-container .card:hover {
    transition: all 0.9s ease;
    box-shadow: 0 0.5rem 1rem #ffffff8f;
  }
}

@media (min-width: 992px) {
  #home .title-container h1 {
    font-size: 5rem;
  }

  #home .title-container .h-4 {
    font-size: 2.5rem !important;
  }

  .navbar .items {
    width: 50%;
  }
}
